<div class="news-index-list">
	<div class="news-topicinfo">
		<div class="topic_header">
		<{if !$story_topic}>
			<h2><{$modname}></h2>
		<{else}>
			<h2><{$topic_title}></h2>
		<{/if}>
		</div>
		<{if $topic_img || $topic_desc}>
		<div class="itemBody">
			<{if $topic_img}>
				<div class="itemImg gallery">
				<{if $img_lightbox}>
					<a href="<{$topic_medium}>" title="<{$topic_title}>" >
						<img width="<{$imgwidth}>" class="<{$imgfloat}> story_img" src="<{$topic_thumb}>" alt="<{$topic_title}>"/>
					</a>
				<{else}>
				 	<img width="<{$imgwidth}>" class="<{$imgfloat}> story_img" src="<{$topic_thumb}>" alt="<{$topic_title}>"/>
				<{/if}>
				</div>
			<{/if}>
			<{$topic_desc}>
			<div class="clear"></div>
		</div>	
		<{/if}>
	</div>
	<div class="itemList">
		<ul>
			<{foreach item=content from=$contents}>
			<li>
				<h3><{if $content.story_important}><span class="red bold"><{$smarty.const._NEWS_MD_IMPORTANT}></span><{/if}><a href="<{$content.url}>" title="<{$content.story_title}>"><{$content.story_title}></a></h3>
				<{if $info.author || $info.date || $info.hits}>
				<div class="pad2">
					<{if $info.author}>
					<span class="itemPoster">
						<a href="<{$xoops_url}>/user.php?id=<{$content.story_uid}>" title="<{$content.owner}>"><{$content.owner}></a><{if $alluserpost}> (<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?user=<{$content.story_uid}>" title="<{$smarty.const._NEWS_MD_AUTHOR_ALL_DESC}><{$content.owner}>"><{$smarty.const._NEWS_MD_AUTHOR_ALL}></a>)<{/if}>
					</span>
					<{if $info.date || $info.hits}> &bull;<{/if}>
					<{/if}>
					<{if $info.date}>
					<span class="itemPostDate"><{$content.story_publish}></span>
					<{if $info.hits}> &bull;<{/if}>
					<{/if}>
					<{if $info.hits}>
					<span class="itemStats"><{$content.story_hits}> <{$smarty.const._NEWS_MD_HITS}></span>
					<{/if}>
				</div>
				<{/if}>
			</li>
			<{/foreach}>
		</ul>
	</div>
</div>